@font-face {
    font-family: "KD";
    src: url('./iconfont.eot?t=7626084350835'); /* IE9 */
    src: url('./iconfont.eot?t=7626084350835#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./iconfont.woff?t=7626084350835') format('woff2'),
    url('./iconfont.woff?t=7626084350835') format('woff'), /* chrome、firefox */
    url('./iconfont.ttf?t=7626084350835') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./iconfont.svg?t=7626084350835#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "KD" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kd-jiantouyangshi1:before { 
 content: "\f685"; }

.kd-jiantouyangshi2:before { 
 content: "\f686"; }

.kd-jiantouyangshi3:before { 
 content: "\f687"; }

.kd-jiantouyangshi4:before { 
 content: "\f688"; }

.kd-jiantouyangshi5:before { 
 content: "\f689"; }

.kd-jiantouyangshi6:before { 
 content: "\f68a"; }

.kd-jiantouyangshi7:before { 
 content: "\f68b"; }

.kd-jiantouyangshi8:before { 
 content: "\f68c"; }

.kd-jiantouyangshi12:before { 
 content: "\f68d"; }

.kd-jiantouyangshi9:before { 
 content: "\f68e"; }

.kd-jiantouyangshi11:before { 
 content: "\f68f"; }

.kd-jiantouyangshi10:before { 
 content: "\f690"; }

.kd-jiantouyangshi13:before { 
 content: "\f691"; }

.kd-dianxian1:before { 
 content: "\f692"; }

.kd-jiantou:before { 
 content: "\f693"; }

.kd-dianxian2:before { 
 content: "\f694"; }

.kd-lianjieyangshi2:before { 
 content: "\f695"; }

.kd-lianjieyangshi1:before { 
 content: "\f696"; }

.kd-lianjieyangshi3:before { 
 content: "\f697"; }

.kd-shixian:before { 
 content: "\f698"; }

.kd-shuangshixian:before { 
 content: "\f699"; }

.kd-xuxian:before { 
 content: "\f69a"; }

.kd-xuxianjiantou:before { 
 content: "\f69b"; }

