.kd-menubar
    height 36px
    display flex
    align-items center
    padding 0 16px
    .k-btn
        margin-right 4px

.kd-menubar-menu
    width 200px
    .shortcut
        float right
        color #afafaf
    .k-icon
        float right
        margin-right -10px
