.kd-shape
    box-sizing content-box
    padding 5px
    border-radius $border-radius
    float left
    margin-right 2px
    &:hover
        background $bg-color
    .kd-container
        height 100%
