.kd-sidebar
    display flex
    flex-direction column
    height 100%
    > .title
        height 40px
        line-height 40px
        border-bottom 1px solid $border-color
        font-weight bold
        padding 0 8px 0 20px
        .k-btn
            float right
            margin-top 8px
    > .search
        padding 8px
        border-bottom 1px solid $border-color
    > .shapes
        display flex
        flex 1
        .k-tabs
            width 44px 
            background #eee
        .k-tab
            padding 0
        .k-active-bar:before
            display none
        .items
            flex 1
            padding 10px
    .k-tab
        display flex !important
        align-items center
        justify-content center
        for type in custom basic king
            .{type}
                background-image url('../../../images/kd/' + type + '.png')
            &.k-active .{type}
                background-image url('../../../images/kd/' + type + '-active.png')


