use('../../../node_modules/kpc/styles/functions.js')

$theme-dir := __dirname()

$border-radius := 4px
$border-color := #dadce0
$large-height := 44

$dropdown-item-padding := 0 20px

$tabs-no-border-card-gutter := 0

@require('../../../node_modules/kpc/styles/themes/ksyun/index.styl')
