use('../../../node_modules/kpc/styles/functions.js')

$theme-dir := __dirname()

$border-radius := 4px
$border-color := #dadce0
$large-height := 44
$default-height := 30

$dropdown-item-padding := 0 20px

$tabs-no-border-card-gutter := 0

$collapse-item-content-padding := 0 10px 10px

$checkbox-border-radius := 2px

$colorpicker-border := 1px solid #DADCE0
$colorpicker-border-radius := 2px
$colorpicker-small-padding := 3px
$colorpicker-inner-border-radius := 1px

@require('../../../node_modules/kpc/styles/themes/ksyun/index.styl')
