.kg-item
    box-sizing content-box
    padding 3px
    border-radius $border-radius
    float left
    margin-right 3px
    &:hover
        background $bg-color
    .kg-container
        height 100%
