.kd-panel
    position relative 
    border-left 1px solid $border-color
    // overflow auto
    .collapse-wrapper
        width 255px
        transition width $transition, opacity $transition
        overflow auto 
        height 100%
    .k-collapse
        min-width 240px
    .k-collapse-item
        .k-title
            padding 0 10px
            overflow hidden
    .expand-shrink
        width 16px
        height 60px
        background #fbfbfb
        border 1px solid #dadce0
        border-right none
        border-radius @width 0 0 @width 
        position absolute
        top 50%
        margin-top -(@height / 2)
        left -(@width + 1px)
        cursor pointer
        display flex
        justify-content center
        align-items center
        .k-icon
            margin-left 3px
            transition transform $transition
    &.hide
        .collapse-wrapper
            width 0
            opacity 0
        .expand-shrink
            .k-icon
                transform rotate(180deg)
    .row
        margin 12px -10px 0 0
        &.whole
            margin-right 0
    .font-size
        float right
        margin 3px 10px 0 0
    .k-btn
        margin-right 8px
        &.active
            background #ddd
    .underline
        margin-top 1px
    .item
        overflow hidden
        margin-bottom 5px
    .k-colorpicker
        float right
    .extra-item
        margin-top 6px
        padding-left 20px
        .k-spinner
            float right
            .k-input
                width 70px
        .right
            float right
    .k-select
        .line
            margin-top 11px
    .label
        display inline-block
        line-height 24px

    .layout-panel
        .k-btn
            margin 4px
    .edge-style
        .edge-style-item
            height 22px
            background-size 15px

// edge style
.edge-style-item
    height 100%
    background-repeat no-repeat
    background-position center center
    background-size contain
.edge-straight
    background-image url('../../../images/kd/straight.png')
.edge-orthogonal
    background-image url('../../../images/kd/orthogonal.png')
.edge-horizontalElbow
    background-image url('../../../images/kd/horizontal-elbow.png')
.edge-verticalElbow
    background-image url('../../../images/kd/vertical-elbow.png')
.edge-horizontalIsometric
    background-image url('../../../images/kd/horizontal-isometric.png')
.edge-verticalIsometric
    background-image url('../../../images/kd/vertical-isometric.png')
.edge-curved
    background-image url('../../../images/kd/curved.png')
.edge-entity
    background-image url('../../../images/kd/entity.png')

.line-style
    margin-top 16px
